{{#operations}}
public class {{classname}}
{
    {{#operation}}
    /**
    {{{summary}}}
    {{#notes}}
    {{{notes}}}
    {{/notes}}
    
    {{#allParams}}
    !{{paramName}} {{description}}
    {{/allParams}}
    */
    public func {{nickname}}({{#allParams}}{{paramName}}: {{{dataType}}}, {{/allParams}}completion: {{#returnBaseType}}(output: {{returnType}}) -> () {{/returnBaseType}}{{^returnBaseType}}() -> () {{/returnBaseType}}, failure: (error: NSError?) -> ())
    {
        let URL = NSURL()
        let builder = SVRequestParameterBuilder(URL: URL, method: .{{httpMethod}})
        
        {{#formParams}}
        builder["{{baseName}}"] = {{paramName}}
        {{/formParams}}
        
        {{#queryParams}}
        builder["{{baseName}}"] = {{paramName}}
        {{/queryParams}}
        
        {{#headerParams}}
        builder.headers["{{baseName}}"] = {{paramName}}
        {{/headerParams}}
    }
    
    {{/operation}}
}
{{/operations}}